<div class="landing" [style.backgroundImage]="'url(/assets/planet.jpg)'">
  <div class="flex-container">
    <div class="flex-item">
      <span class="typing">Hello Codepen!!!</span>
    </div>
    <div class="spinner-box flex-item">
      <div class="solar-system">
        <div class="earth-orbit orbit">
          <div class="planet earth"></div>
          <div class="venus-orbit orbit">
            <div class="planet venus"></div>
            <div class="mercury-orbit orbit">
              <div class="planet mercury"></div>
              <div class="sun"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-overlay"></div>

<div class="start-content">

</div>
